/* ==========================================================================
   Base
   ========================================================================== */

.alert {
  position: relative;
  z-index: 999999;
  margin-bottom: 0;
}

#flash_alert,
#flash_notice {
  text-align: center;
}

html {
  -webkit-font-smoothing: antialiased;
}

// http://codepen.io/ahliang85/details/aFteG
